---
import Buttom from "../components/Buttom.astro";
import CardSingle from "../components/Cards/CardSingle.astro";
import CardBanner from "../components/Cards/CardBanner.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SSEO - Landing Page">
  <NavBar />
  <main class="max-w-screen-2xl h-auto m-auto">
    <section
      class="w-full my-36 flex flex-col justify-center items-center m-auto gap-6">
      <img
        class="absolute top-[46.2%] right-[23%] h-[180px] w-[180px] -z-10"
        src="/img/Figure_1.png"
        alt="figure 1"
      />
      <h1
        class="text-7xl font-bold text-center text-negro uppercase flex flex-col items-center gap-2">
        <p>i think your</p>
        <p>business find seo</p>
        <p>solution...</p>
      </h1>
      <article class="-ml-[25px] flex flex-col items-start gap-3">
        <p class="max-w-80 py-1 uppercase text-balance text-[14px]">
          we create a cusomized approach for businesses in various industries
          which increase sales, maximize customer satifaction.
        </p>
        <Buttom title="see our all service" />
      </article>
    </section>

    <section
      class="flex content-center justify-center items-center gap-3 py-14">
      <article
        class="flex gap-8 flex-wrap content-center justify-center"
        id="services">
        <CardSingle
          title="seo consultancy"
          description="from they fine john he give of rich he. they age and draw mrs like. improving and distrusts may instantly."
          image="/img/Figure_2.png"
          color="amarillo"
        />
        <div
          class="w-[292px] h-[444px] bg-[#b48271] rounded-[46px] flex items-center">
          <img
            class="w-[281px] h-[342px]"
            src="/img/Mockup_movil.png"
            alt="figure 1"
          />
        </div>
        <CardSingle
          title="social marketing"
          description="Lorem ipsum dolor sit amet consectetur. Tempus augue egestas vulputate egestas tristique sit."
          image="/img/Figure_3.png"
          color="lima"
        />
      </article>
    </section>

    <section
      class="w-full h-[771px] relative m-a flex flex-col items-center gap-12 px-10 py-28">
      <article class="flex justify-center content-center gap-6">
        <h3 class="text-xs font-semibold uppercase w-fit" id="about">
          About us
        </h3>
        <h2 class="-mt-5">
          <p class="text-[62px] font-medium uppercase">lead your</p>
          <p class="text-[106px] font-semibold uppercase leading-[104.52px]">
            Business to
            <br />
            growth
          </p>
        </h2>
      </article>

      <CardBanner>
        <section slot="grafico">
          <div class="w-[276.44px] h-[314px] left-[18px] top-[42px] absolute">
            <div
              class="w-[182.12px] h-[222.44px] left-[101.10px] top-[49.26px] absolute origin-top-left rotate-[15.69deg] bg-white rounded-[32px]">
            </div>
            <div
              class="w-[182.12px] h-[222.44px] left-[55.10px] top-0 absolute origin-top-left rotate-[15.69deg] bg-[#6dbacc] rounded-[32px]">
            </div>
          </div>
        </section>
      </CardBanner>
    </section>
  </main>
</Layout>
