---

---

<header class="w-full flex justify-center items-center py-8">
  <nav class="h-[50px] justify-start items-center gap-[89px] inline-flex">
    <img src="/img/Logo.png" alt="logo" />
    <ul
      class="w-[530px] h-[42px] px-8 bg-white rounded-[32px] justify-center items-center gap-20 flex
        [&>li]:text-[#191512] [&>li]:text-xs [&>li]:font-normal [&>li]:font-['Inter'] [&>li]:uppercase [&>li]:cursor-pointer">
      <li aria-details="Home"><a href="#"> Home</a></li>
      <li aria-details="About"><a href="#about"> About</a></li>
      <li aria-details="Services"><a href="#services"> Services</a></li>
    </ul>
    <a
      href="#"
      class="px-6 py-3 bg-[#fdfe7c] rounded-[32px] justify-center items-center gap-2.5 flex">
      Contact us
    </a>
  </nav>
</header>
